body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #fff9ef;
}

h2 {
  text-transform: uppercase;
}

/* Barra de navegación */

nav {
  background-color: #27201f;
  width: 100%;
  display: flex;
  height: 60px;
}

nav > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  margin: 0 1%;
  color: #f5f5dc;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

nav > a:hover {
  color: #ffa500;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

/* Header */

header {
	width: 100%;
	height: 500px;
	background: url("../img/canyon-wide.jpg") no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.oscurecedor {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 500px;
	width: 100%;
}

.oscurecedor:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.oscurecedor> h1 {
	width: 40%;
	font-size: 3.5em;
	text-align: center;
	text-transform: uppercase;
	color: #f5f5f5;
}

/* Descripcion */

#descripcion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4%;
	margin: 0;
	height: 300px;
}

#descripcion h2 {
	font-size: 3em;
}

#descripcion p.descripcion-princ {
	font-size: 1.3em;
	font-weight: 300;
}

main > img {
	width: 100%;
	height: 100%;
}

/* Seccion cañones */

section#canones {
	margin: 0;
	background-color: #3d3635;
}

figure {
	margin: 0;
	display: flex;
	padding: 3%;
}

figure:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

figure .imagen {
	width: 45%;
	height: 100%;
}

figure figcaption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 3%;
	padding: 3%;
	color: #fffaf0;
	background-color: rgba(0, 0, 0, 0.3);
	font-weight: 300;
}
